/* General */

:root {
  --bg-color-main: #bf5700;
  --bg-color-second: black;
  --bg-color-third: whitesmoke;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color-second);
  color: var(--bg-color-third);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar & Logo */

header {
  background-color: var(--bg-color-second);
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo navbar";
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 60px;
  color: var(--bg-color-main);
}

#logo span {
  color: var(--bg-color-third);
}

#navbar {
  grid-area: navbar;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 50px;
}

li {
  display: inline;
  padding: 0 30px;
  font-size: 20px;
}

#navbar a {
  color: var(--bg-color-third);
  text-decoration: none;
}

#navbar a:hover {
  color: var(--bg-color-main);
}

/* Hero Banner */

.hero-banner {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "image subtitle";
}

#subtitle {
  grid-area: subtitle;
  background-color: var(--bg-color-main);
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 20px 45px;
  font-size: 35px;
}

#image {
  grid-area: image;
  background-image: url(../images/avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Section */

.page-wrapper {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "about work work"
  "contact work work";
}

.page-section {
  margin: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
}

#about {
  grid-area: about;
  background-color: var(--bg-color-main);
}

#contact {
  grid-area: contact;
  background-color: var(--bg-color-main);
}

#work {
  grid-area: work;
  background-color: var(--bg-color-main);
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "portfolio portfolio"
  "one one"
  "two three"
  "four five";
}

/* Work Section */

#portfolio {
  grid-area: portfolio;
  font-size: 24px;
}

.work-card {
  background-color: var(--bg-color-third);
  margin: 10px;
  border-radius: 15px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.work-card:hover {
  margin: 5px;
}

#work-card-one {
  grid-area: one;
  background-image: url(../images/card-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#work-card-two {
  grid-area: two;
  background-image: url(../images/card-img-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#work-card-three {
  grid-area: three;
  background-image: url(../images/card-img-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#work-card-four {
  grid-area: four;
  background-image: url(../images/card-img-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#work-card-five {
  grid-area: five;
  background-image: url(../images/card-img-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-title {
  background-color: var(--bg-color-second);
  height: 25%;
  width: 100%;
  margin: 2%;
  border-radius: 15px;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
}

.card-title a {
  color: var(--bg-color-third);
  text-decoration: none;
}

#big-card {
  padding-top: 20px;
  font-size: 30px;
}

/* Contact section */

#contact h5, #contact p {
  text-align: center;
  padding: 5px 0;
}

#contact i {
  padding: 5px 40%;
  font-size: 50px;
  color: var(--bg-color-third);
}


#contact i:hover {
  color: var(--bg-color-second);
}

/* Footer */

footer {
  background-color: var(--bg-color-main);
  height: 60px;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 1072px) {

  #navbar {
    display: none;
  }

  .page-wrapper {
    display: grid;
    grid-template-rows: 200px 800px 150px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "about"
    "work"
    "contact";
  }

  .page-section {
    margin: 10px;
    padding: 20px;
  }

  #contact h5 {
    display: none;
  }

  #contact i {
    font-size: 30px;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
  }

}

@media only screen and (max-width: 800px) {

  header {
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "navabr logo navbar";
  }

  .hero-banner {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "subtitle";
  }

  #image {
    display: none;
  }

  footer {
    height: 75px;
  }

}

@media only screen and (max-width: 500px) {

  #subtitle {
    font-size: 24px;
  }

  .page-wrapper {
    grid-template-rows: 300px 1000px 250px;
  }

  #work {
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "portfolio"
    "one"
    "two"
    "three"
    "four"
    "five";
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
  }

}
