/* General */

:root {
  --bg-color-main: rgb(158, 226, 126);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: black;
  color: #2b2a2a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar & Logo */

header {
  background-color: black;
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo navbar";
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 60px;
  color: var(--bg-color-main);
}

#navbar {
  grid-area: navbar;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 50px;
}

li {
  display: inline;
  padding-right: 30px;
  font-size: 20px;
}

a {
  color: var(--bg-color-main);
  text-decoration: none;
}

a:hover {
  color: white;
}

/* Hero Banner */

.hero-banner {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "image subtitle";
}

#subtitle {
  grid-area: subtitle;
  background-color: var(--bg-color-main);
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 20px 45px;
  font-size: 35px;
}

#image {
  grid-area: image;
  background-image: url(../images/avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Section */

.page-wrapper {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "about work work"
  "contact work work";
}

.page-section {
  margin: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
}

#about {
  grid-area: about;
  background-color: var(--bg-color-main);
}

#contact {
  grid-area: contact;
  background-color: var(--bg-color-main);
}

#work {
  grid-area: work;
  background-color: var(--bg-color-main);
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "one one"
  "two three"
  "four five";
}

/* Work Section */

.work-card {
  background-color: black;
  margin: 10px;
  border-radius: 15px;
}

#work-card-one {
  grid-area: one;
}

#work-card-two {
  grid-area: two;
}

#work-card-three {
  grid-area: three;
}

#work-card-four {
  grid-area: four;
}

#work-card-five {
  grid-area: five;
}
